.flex{
  @apply(--layout-horizontal);
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .flex{@apply(--layout-vertical);}
}

paper-toolbar{
  background: #05070A;
  color: #e2e2e2;
   @apply(--layout-justified);
}

div.content{
    color: #c1cacb;
    text-align: left;
    line-height: 1.5rem;
    margin-left: 60px;
}

    .title{
        color: black;
    }
